
.mail-regist-form
  .mail-regist-form__header
    .mail-regist-form__header-title
      =link_to root_path do
        = image_tag "/assets/logo/logo.png", size: "180x54", alt: "logo"

        .mail-regist-form__body-inputnametitle
          
            .mail-regist-form__body-next
              = f.submit "次へ進む", class: 'submit-btn'


  .mail-regist-form__footer
    .mail-regist-form__footer-policy
      .mail-regist-form__footer-policyprivacy
        =link_to "プライバシーポリシー", root_path
      .mail-regist-form__footer-policykiyaku
        =link_to "アプリ利用規約", root_path
      .mail-regist-form__footer-policytokusyo
        =link_to "特定商取引に関する表記", root_path 
    .mail-regist-form__footer-incline
      =link_to root_path do
        = image_tag "/assets/logo/logo-white.png",size: "200x60", alt: "visual-1"
      %p © FURIMA