.wrapper
  = render "header"
  .main-page
    = render "side"
    %main.containerClearfix
      .cardContent
        %section.cardContent__box
          %h2.cardContent__box--head
            支払い方法
          .cardContent__box--inner
            %section
              .cardContent__box--innerList
                %h3.cardContent__box--innerListHeader
                  クレジットカード一覧
              .cardContent__box--cardList
            %section.cardContent__box--addCard
              .cardContent__box--addCard__btn
                =link_to new_card_path, class: "addCard__btn" do
                  %i.far.fa-credit-card
                    クレジットカードを追加する

            .cardContent__about
              %span.cardContent__about--payment
                = link_to "#", class:"abtPayment" do
                  支払い方法について
                  %i.fas.fa-angle-right
                  
  = render "footer"