.wrapper
  = render "header"
  .main-page
    = render "side"
    %main.containerClearfix
      .logout
        .logoutContents
          .logoutContents__container
            =link_to destroy_user_session_path,class: "logout-btn", method: :delete do
              ログアウト
  = render "footer"