* {
  box-sizing: border-box;
}

.main-page {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}

.container.clearfix {
  width: 1020px;
  margin: 40px auto 0;
}

.contents {
  width: 700px;
  height: 1211.84px;
  float: right;
  position: relative;
}

.mypage__icon {
  background: white;
  height: 200px;
  position: relative;
  text-align: center;
  padding: 20px;
  color: #333;
  &--nickname {
    margin: 8px 0 0;
    font-size: 14px;
    font-weight: 600;
  }
  &--number {
    margin: 8px 0 0;
    &__assess {
      display: inline-block;
      font-size: 14px;
    }
    &__displays {
      display: inline-block;
      font-size: 14px;
  }
  }
}
.mypage-container {
  width: 700px;
  height:  589.84px;
  margin: 0;
  background: #fff;
  &__tabs {
    position: relative;
    text-align: center;
    line-height: 74px;
    display: flex;
    &--contents {
      height: 515.84px;
      &__list {
        min-height: 100%;
      }
    }
  }
}
.notice {
  width: 50%;
  background-color: #eee;
  border-top: 2px solid #ea352d;
}
.notice a{
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  display: block;
}
.todo {
  width: 50%;
}
.todo a{
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.mypage-tabs-content-link {
  display: block;
  min-height: 80px;
  padding:  16px;
  color: #333;
  border-bottom: 1px solid #eee;
  &__icon {
    position: relative;
    float: left;
  }
  &__body {
    margin: 0 40px 0 68px;
  }
  &__text {
    font-size: 14px;
  }
}

.mypage__display-list {
  padding: 16px;
}
.mypage__display-list a{
  display: block;
  height: 56px;
  margin: 0 auto;
  background: #eee;
  color: #333;
  line-height: 56px;
  text-align: center;
  text-decoration: none;
}

.Purchased-list {
  width: 700px;
  height: 382px;
  margin: 40px 0 0 0;
  background: #fff;
  &__head {
    padding: 0 16px;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
    color: #333;
    font-weight: bold;
  }
}
.purchased-tabs {
  width: 700px;
  height: 74px;
  list-style: none;

}
.purchased-tabs li{
  width: 50%;
  height: 74px;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 74px;
  background: #eee;
}

.purchased-tabs li.trade {
  background: #fff;
}

.tab-contents {
  width: 700px;
  height: 236px;
  position: relative;
}
.trade-item__notfound {
  padding: 160px 0 60px;
  text-align: center;
  font-size: 16px;
  color: #ccc;
  position: relative;
}


.side {
  width: 280px;
  height: 1252px;
  float: left;
  margin: 0 40px 0 179px;
  display: block;
}

.mypage-menu-list--item--info {
  background: #eee;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  }
  .mypage-menu-list--item--info a{
    display: block;
    color: #333;
  }
.mypage-menu-list--item {
  height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #eee;
  background: #fff;
}
.mypage-menu-list--item a{
  display: block;
  color: #333;
}
.mypage-menu-list--head {
  margin: 40px 0 0;
  color: #333;
  font-weight: 600;
}

a{ 
  text-decoration: none;
}


