.account-page__inner {
  min-width: 100%;
  height: 100vh;
}

.account-page__inner-header {
  background-color: lightgray;
  font-size: 40px;
  text-align: center;
  list-style: none;
  padding-bottom: 50px;
}
.account-page__inner-body {
  height: 460px;
  background-color: lightgray;
  &-box {
    margin: 0 300px 0 300px;
  }
  &-title {
    font-size: 25px;
    background-color: white;
    padding: 25px 0 60px 0 ;
    text-align: center;
  }
  &-tool {
    height: 600px;
    background-color: white;
    text-align: center;
    font-size: 15px;
    &-mail {
      padding-bottom: 20px;
      
    }
    &-google {
      padding-bottom: 20px;
    }
    &-facebook {
      padding-bottom: 20px;
    }
    &-apple {
      padding-bottom: 20px;
    }
  }
  &-comment {
    background-color: white;
    font-size: 15px;
    padding-left: 60px;
    
  }
  &-comment2 {
    background-color: white;
    font-size: 15px;
    padding-left: 5px;
  }
}

.account-page__inner-body a {
  text-decoration: none;
  color: blue;
}
.account-page__inner-footer {
  background-color: lightgray;
  text-align: center;
  height:  220px;
  &-policy {
   display: flex;
   &-privacy {
     justify-content: space-between;
     margin: 30px 40px 30px 500px;
     font-size: 10px;
   }
   &-kiyaku {
     justify-content: space-between;
     margin: 30px 40px 30px 40px;
     font-size: 10px;
   }
   &-tokusyo {
     justify-content: space-between;
     margin: 30px 400px 30px 40px;
     font-size: 10px;
   }
  }
  &-incline {
    font-size: 15px;
  }
}

.account-page__inner-footer a {
  text-decoration: none;
  color: blue;
}
.mail-regist-form {
  background-color: lightgray;
}

.mail-regist-form__header {
  height: 140px;
  width: 700px;
  margin: 0 auto;
  background-color: lightgray;
  list-style: none;
  display: flex;
  &-title {
    height: 40px;
    width: 170px;
    font-size: 20px;
    padding: 50px 30px ;
    float: left;
  }
  &-status {
    text-align: center;
    display: flex;
    height: 80px;
    width: 100%;
    float: right;
    margin-left: 30px;
    &-bar {
      justify-content: space-between;
      padding: 30px 40px;
      color: red;
      font-size: 30px;
    }
    &-bar2 {
      justify-content: space-between;
      padding: 30px 40px;
      font-size: 30px;
    }
    &-bar3{
      justify-content: space-between;
      padding: 30px 40px;
      font-size: 30px;
    }
  }
}
.mail-regist-form__header %li {
    background-color: lightgray;
    display: flex;
    text-align: center;
    }

  %li.active {
    color: red;
  }
  .regist-status{
    justify-content: space-between;
    font-size: 15px;
  }

.mail-regist-form__body {
    font-size: 20px;
    background-color: lightgray;
  &-inner {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  &-head {
    font-size: 30px;
    border-bottom-color: black;
    text-align: center;
    padding: 30px 0 30px 0;
  }
  &-middle {
    min-width: 350px;
    margin: 0 auto;
    background-color: white;
    width: 700px;
    margin: 0 auto;
    text-align: center;
  }
  &-title {
    display: flex;
    padding-left: 170px;
  }
  &-titlename {
    justify-content: space-between;
    font-size: 15px;
  }
  &-necessary {
    justify-content: space-between;
    font-size: 13px;
    padding: 2px 4px;
    margin: 0 0 0 8px;
    color: white;
    background-color: red;
  }
  &-textinfo {
    font-size: 15px;
    color: gray;
    padding: 10px 0 5px 0;
  }
  &-text-check {
    display: flex;
    font-size: 15px;
    padding-bottom: 30px;
    padding-left: 170px;
    &-checkbox {
      justify-content: space-between;
   }
    &-checkcomment {
      justify-content: space-between;
   }
  }
  &-confirm {   
    display: flex;
    padding-left: 170px;
    &-title {
      justify-content: space-between;
    }
  }
  &-confirm-comment {
    padding: 8px 180px 15px 170px;
    font-size: 13px;
  }
  &-inputnametitle {
    display: flex;
    padding-left: 170px;
  }
  &-inputname{
    float: left;
  }
  &-namebox {
    display: flex;
  }
  &-nameleft {
    justify-content: space-between;
    margin-right: 5px;
  }
  &-nameright {
    justify-content: space-between;
    margin-left: 5px;
  }
  &-titlename {
    font-size: 18px;
  }
  &-select {
    display: flex;
    padding-left: 170px;
    padding-top: 10px;
  }
  &-selectyear {
    justify-content: space-between;
  }
  &-selectmonth {
    justify-content: space-between;
  }
  &-selectday {
    justify-content: space-between;
  }
  &-selecterror {
    padding-top: 10px;
  }
  &-information {
    font-size: 15px;
    padding: 20px 150px 20px 180px;
    color: gray;
  }
  &-next {
    margin-top: 40px;
    padding-bottom: 50px;
    text-align: center;
  }
  &-error {
    list-style: none;
    color: red;
    font-size: 15px;
    padding-left: 170px;
    display: flex;
  }
  &-errortext {
    display: flex;
    list-style: none;
  &-family {
    justify-content: space-between;
    font-size: 15px;
    color: red;
    padding-left: 170px;
  }
  &-first {
    justify-content: space-between;
    font-size: 15px;
    color: red;
    padding-left: 50px;
  }
  &-familykana {
    justify-content: space-between;
    font-size: 15px;
    color: red;
    padding-left: 170px;
  }
  &-firstkana {
    justify-content: space-between;
    font-size: 15px;
    color: red;
    padding-left: 20px;
  }
 }
}

select{
  height: 40px;
  width: 70px;
  font-size: 15px;
}

.input-form {
  width: 350px;
  height: 50px;
  font-size: 15px;
  margin-top: 5px;
  &-left {
    width: 170px;
    height: 50px;
    font-size: 20px;
    margin: 5px 5px 5px 170px;
  }
  &-right {
    width: 170px;
    height: 50px;
    font-size: 20px;
    margin: 5px 80px 5px 5px;
  }
}

.mail-regist-form__footer {
  background-color: lightgray;
  padding-top: 10px;
  text-align: center;
  &-policy {
    text-decoration: none;
    display: flex;
  }
  &-policyprivacy {
    justify-content: space-between;
    margin: 0 60px 0 400px;
    font-size: 13px;
  }
  &-policykiyaku {
    justify-content: space-between;
    margin: 0 60px 0 70px ; 
    font-size: 13px;
  }
  &-policytokusyo {
    justify-content: space-between;
    margin: 0 400px 0 60px;
    font-size: 13px;
  }
  &-incline{
    font-size: 20px;
  }
}

.mail-regist-form__footer a {
  text-decoration:none ;
  color: blue;
}


.rogin-form {
  height: 100vh;
  width: 100%;
}

.rogin-head {
  height: 100px;
  text-align: center;
  padding-top: 20px;
  background-color: lightgray;
  list-style: none;
}

.rogin-body {
  height:calc(100vh - 250px);
  background-color: lightgray;
  &__inner {
  margin: 0 400px 0 400px ;
  padding: 30px 0 70px 0;
  text-align: center;
  background-color: white;
  }
  &__header {
    font-size: 15px;
  }
  &__header-link {
    padding:10px 0 30px 0;
    font-size: 20px;
  }
  &__middle {
    padding-bottom: 40px;
    &-google {
      padding-bottom: 10px;
      font-size: 15px;
    }
    &-facebook {
      padding-bottom: 10px;
      font-size: 15px;
    }
    &-apple {
      font-size: 15px;
    }
  }
  &__footer {
    font-size: 15px;
    &-button {
      padding: 15px 0 15px 0;
      font-size: 20px;
    }
  }
}

.rogin-body a {
  text-decoration: none;
  color: blue;
}

.input-form {
  height: 45px;
  width: 350px;
  margin: 0 0 10px 0;
}

.rogin-footer {
  height: 150px;
  background-color: lightgray;
  text-align: center;
  &__policy {
    display: flex;
    font-size: 15px;
    &-privacy {
      justify-content: space-between;
      padding: 10px 50px 20px 400px;
    }
    &-kiyaku {
      justify-content: space-between;
      padding: 10px 60px 20px 60px
    }
    &-tokusyo {
      justify-content: space-between;
      padding: 10px 400px 20px 50px;
    }
  }
  &-incline {
    padding-top: 50px;
  }
}

.rogin-footer a {
  text-decoration: none;
  color: blue;
}

//以下は、住所変更ページのCSSです
.edit-page {
  background-color: lightgray;
  height: 1150px;
  width: 100%;
  border-bottom: 5px solid white;
}
.main {
  height: 100vh;
  width: 1020px;
  margin: 40px auto 0;
  padding-top: 20px;
}

.address-side {
  float: left;
  width: 280px;
}
.address-form {
  float: right;
  width: 700px;
}
.content__header {
  font-size: 30px;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #f5f5f5;
}

.content__body {
  font-size: 20px;
  background-color: white;
  text-align: center;
  padding-top: 30px;
&-inner {
  background-color: white;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
&-head {
  font-size: 30px;
  border-bottom-color: black;
  text-align: center;
  padding: 30px 0 30px 0;
}
&-middle {
  min-width: 350px;
  margin: 0 auto;
  background-color: white;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
&-title {
  display: flex;
  padding-left: 180px;
}
&-titlename {
  justify-content: space-between;
  font-size: 15px;
}
&-necessary {
  justify-content: space-between;
  font-size: 13px;
  padding: 2px 4px;
  margin: 0 0 4px 8px;
  color: white;
  background-color: red;
}
&-unnecessary {
  justify-content: space-between;
  font-size: 13px;
  padding: 2px 4px;
  margin: 0 0 4px 8px;
  color: white;
  background-color: red;
}
}
.content__footer {
  background-color: white;
}

.change-btn {
  text-decoration: none;
  color: blue;
  padding-bottom: 40px;
}
.itembtn{
  :hover{
    opacity: 90%;
  }
  .linkBtn{
    background-color: #3CCACE;
    height: 130px;
    width: 130px;
    text-align: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    border-radius: 25px;

    p{
      padding-top: 25px;
    }
  }
}
.footer{
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 500px;
  color: white;
  .info{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 100px;
    &--title{
      font-size: 15px;
      margin-bottom: 30px;
      text-align: center;
    }
    &--content{
      font-size: 12px;
      text-align: center;
      li{
        margin-bottom: 20px;
      }
      a{
      text-decoration: none;
      color: white;
      &:hover{
        text-decoration: underline;
      }
      }
    }
  }
  .logo{
    margin-top: 50px;
    text-align: center;
  }
}
select {
  height: 45px;
  width: 350px;
  font-size: 15px;
  margin-bottom: 5px;
}
.content__footer{
  text-align: center;
  margin: 0;
  padding: 24px 40px 64px;
  background: #fff;
}
.change__container{
    background: #ea325d;
    border: 1px solid #ea352d;
    max-width: 320px;
    height: 50px;
    margin: 0 auto;
  }

.change-btn {
    color: #fff;
    font-size: 14px;
    line-height: 48px;
    display: block;
}