.footer
  .info
    %ul
      .info--title
        %li FURIMAについて
      .info--content
        %li
          =link_to "会社概要"
        %li
          =link_to "プライバシーポリシー"
        %li
          =link_to "FURIMA利用規約"
        %li
          =link_to "ポイントに関する特約"
    %ul
      .info--title
        %li FURIMAをみる
      .info--content
        %li
          =link_to "カテゴリー一覧"
        %li
          =link_to "ブランド一覧"
    %ul
      .info--title
        %li ヘルプ＆ガイド
      .info--content
        %li
          =link_to "FURIMAガイド"
        %li
          =link_to "FURIMAロゴ利用ガイドライン"
        %li
          =link_to "お知らせ"

  .logo
    =link_to do
      = image_tag "/assets/logo/logo-white.png",size: "200x60", alt: "visual-1"
    %p © FURIMA

.btn
  =link_to do
    .linkBtn
      %p 出品する
      = image_tag '/assets/icon/icon_camera.png',height: "50px", width: "50px", alt: 'sell'