.wrapper 
  .header
  .container
    .products-top
      %h2.products-text
        購入内容の確認
    .products-main
      .products-main__iembox
      .products-main__detail
        .products-main__detail--name
        .products-main__detail--ja
    .buy-content
      .buy-content__price
        .buy-content__price__label
        .buy-content__price__cel
      .buy-content__point
        .buy-content__point__label
        .buy-content__point__cel
    .user-info-pay
      .user-info-pay__box
        %h3.user-info-pay-text
          支払い方法
        %p.user-info-pay-link
          = link_to "登録してください。", "#"
    .user-info-delivery
      .user-info-delivery__box
        %h3.user-info-delivery-text
          配達先
        %p.user-info-delivery-link
          = link_to "登録してください。", "#"
    .confirm
      .confirm__text
      .confirm__contact
  .footer













  .footer
    