.header
  .header__top
    .header__top__logo

  .products-purchase
    .products-purchase-buy-content
      %h2 購入内容の確認
      .products-purchase-buy-content__inner
        .products-purchase-buy-content__inner__item-box
          .products-purchase-buy-content__inner__item-box__detail
            .products-purchase-buy-content__inner__item-box__detail__name
            .products-purchase-buy-content__inner__item-box__detail__price-ja
              %p 1300
              .products-purchase-buy-content__inner__item-box__detail__price-ja__shipping-fee （税込）送料込み
        .products-purchase-buy-content__inner__point
          .products-purchase-buy-content__inner__point__name
            %p ポイントの使用
          .products-purchase-buy-content__inner__point__box
            %p 所持ポイント
      .products-purchase-buy-content__buy-user-info
        .products-purchase-buy-content__buy-user-info__pay
          %p 支払い方法
          %p 登録してください
        .products-purchase-buy-content__buy-user-info__delivery
          %p 配送先
          %p 登録してください
        .products-purchase-buy-content__buy-user-info__text
          %p 配送先と支払い方法の入力を完了してください。
        .products-purchase-buy-content__buy-user-info__btn
          %p 購入する

.footer
  %ul.footer__contents__list--menu
    %li プライバシーポリシー
    %li フリマ利用規則
    %li 特定取引に関する表記
  .footer__contents__inner
    .footer__contents__inner__logo
    .footer__contents__inner__text
  

      
