// * {
//   box-sizing: border-box;
// }
.wrapper{
  width: 100vw;
  height: 100%;
  background-color:rgb(245, 245, 245);
  .confirm-header{
    width: 100%;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 10px;
    &__top-rogo{
      text-align: center;
    }
  }
  .container{
    width: 700px;
    height: calc(100% - 80px - 80px);
    margin: 0 auto 10px;
    padding: 0 16px;
    background-color: #fff;
    .products-top{
     height: 97px;
     width:375px;
     border-bottom: solid #eeeeee;
     padding:32px 16px;
     margin: 0 162.492px;
      .products-text{
        text-align:center;
      }
    }
    .products-main{
      height: 147px;
      width:375px;
      border-bottom: solid #eeeeee;
      padding:32px 16px;
      margin: 0 162.492px;
      display: flex;
      &__itembox{
        width:80px;
        height:80px;
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
        }
      }
      &__detail{
        width:247px;
        height:80px;
        &__name{
          width:247px;
          height:19.5px;
          margin:0 0 0 16px;
          font-size:14px;
          color:#333333;
        }
        &__price{
          width:247px;
          height:19.5px;
          display: flex;
          justify-content:flex-end;
          &__ja{
            font-size:14px;
            color:#333333;
            width:104px;
            height:16.5PX;
            padding:0 0 0 0;
          }
          &__fee{
            width:33.8;
            height:16.5PX;
            font-size:14px;
            color:#333333;
            margin: 0 0 0 8PX;
            font-weight: bold;
          }
        }
      }
    }
    .buy{
      height: 137px;
      width:375px;
      padding:32px 16px;
      margin: 0 162.492px;
      border-bottom: solid #eeeeee;
      &__content{
        width: 343px;
        height: 47px;
        &__price{
          width: 343px;
          height: 24px;
          margin:0 0 24px 0;
          display: flex;
          &__label{
            font-size: 18px;
            font-weight: 600;
          }
          &__cel{
            font-size: 24px;
            font-weight: 600;
            padding:0 0 0 160px;
          }
        }
        &__point{
          width: 343px;
          height: 24px;
          font-size: 14px;
          display: flex;
          -webkit-box-pack: justify;
          justify-content: flex-start;
          &__input{
            width:20px;
            height:20px;
            background-color: #ccc;
            border-color: #ccc;
            cursor: default;
          }
          &__img{
            margin:0 0 4px 0;
          }
          &__label{
            margin:0 0 4px 0;
          }
          &__cel{
            margin:0 0 4px 70px;
          }
        }
      }
    }
    .user-info-pay{
      height: 112px;
      width:375px;
      padding:32px 16px;
      margin: 0 162.492px;
      border-bottom: solid #eeeeee;
      &__box{
        width: 343px;
        height: 47px;
        .user-info-pay-text{
          font-size: 15px;
          color:#333333;
        }
        .user-info-pay-link{
          font-size: 15px;
          color:#0095EE;
          margin:0 0 0 4px;
          
        }
      }
    }
    .user-info-delivery{
      height: 108px;
      width:375px;
      padding:32px 16px;
      margin: 0 162.492px;
      border-bottom: solid #eeeeee;
      &__box{
        width: 343px;
        height: 47px;
        .user-info-delivery-text{
          font-size: 15px;
          color:#333333;
        }
        .user-info-delivery-link{
          font-size: 15px;
          color:#0095EE;
          margin:0 0 0 4px;
        }
      }
    }
    .confirm{
      height: 322px;
      width: 375px;
      padding: 0 16px;
      margin: 0 162.492px;
      vertical-align: baseline;
      &__info-text{
        width: 343px;
        height: 112px;
        color:#88888888;
        line-height: 1.5;
        text-align: left;
        font-size: 14px;
        margin: 0 0 24px 0;
        .products-purchase-bold{
          font-weight: 600;
        }
      }
      &__text--comment{
        width:343px;
        height:22.5px;
        color: rgb(255, 2, 17);
        line-height: 1.5;
        font-size: 14px;
        margin: 0 0 24px 0 ;
      }  
      &__contact--comment{
        display:block;
        align-items: center;
        background-color: rgb(204, 204, 204);
        font-size: 15px;
        color: rgb(255, 255, 255);
        width: 343px;
        height: 50px;
        text-align: center;
        padding-top:15px;
      }
    }
  }
  .mypage_btn{
    font-size: 15px;
    color:#0095EE;
  }
  .confirm-footer{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    bottom:0 ;
    &__name{
      width: 481px;
      height: 31px;
      padding: 0 16px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__text{
        font-size:14px;
      }
    }
   &__rogo{
     margin:0 0 8px 0;
   } 
  }
}