// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@mixin fontSetting() {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  .header{
    width: 100%;
    height: 97px;
    padding-top: 15px;
    padding-bottom: 10px;
    &__top{
      display: flex;
      &--rogo{
        margin-left: 50px;
      }
      &--form{
        margin-left: 50px;
        margin-top: 10px;
        align-content: center;
        .input{
          width: calc(100vw - 450px);
          height: 30px;
        }
        .btn{
          margin-left: -5px;
          height: 35px;
          width: 40px;
          background-color: #3CCACE;
          border-radius: 3px;
          border: none;
          color: white;
        }
      }
    }
    &__bottom{
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      // カテゴリー＆ブランド
      &--left{
        display: flex;
        justify-content: space-between;
        z-index: 1000;
        .contents{
          display: flex;
          justify-content: space-between;
          .content{
            font-size:14px;
            margin-right: 10px;
            height: 40px;
            width: 150px;
            line-height: 40px;
            position: relative;
            text-decoration: none;
            padding-left: 3px;
            li{
              border-bottom: 1px solid rgb(219, 219, 219);
              padding-left: 3px;
            }
            .nav{
              width: 150px;
              position: absolute;
              left: 50px;
              top:35px;
              background-color: #f7f7f7;
              opacity: 0.9;
              display: none;
              .nav__content{
                width: 150px;
                position: absolute;
                top: 0;
                left: 150px;
                background-color: #fffcee;
                display: none;
              }
            }
          }
          &:hover{
            .nav{
              display: block;
              &:hover{
                .nav__content{
                  display: block;
                }
              }
            }
          }
        }

        .brand, p{
          margin-left: 50px;
          list-style: none;
        }
      }
      a{
        text-decoration: none;
        color: black;
        &:hover{
          color: #ffcc40;
        }
      }

      // ログイン＆新規登録
      &--right{
        display: flex;
        margin-right: 50px;
        p{
          margin-left: 20px;
          line-height: 40px;
        }
      }
      &__right{
        display: flex;
      }
    }
  }

  // メイン
  .main{
    margin-top: 5px;
    .content{
      height: 530px;
      .visual{
        position: absolute;
        img {
          height: 530px;
          object-fit: cover;
        }
      }
      .visual__comment{
        position: relative;
        color: white;
        text-shadow: 1px 2px 3px #808080;
        top: 150px;
        left: 50px;
        &--subtitle{
          font-size: 60px;
        }
        &--text{
          font-size: 20px;
          margin-bottom: 15px;
        }
        &--btn{
          margin-left: -10px;
          display: flex;
          align-items: center;
          a:hover{
          opacity: 70%;
          }
        }
      }
    }

    .introduction{
      padding: 50px 50px 50px 50px;
      .title{
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        position: relative;
        &:after{
          content: "";
          width: 70px;
          height: 4px;
          background-color: #3CCACE;
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
        }
        h3{
          font-size: 25px;
        }
      }
      .list{
        display: flex;
        justify-content: space-between;
        margin: 25px auto;
        li{
          list-style: none;
          width: 265px;
          text-align: center;
          h3{
            font-size: 20px;
            font-weight: bold;
            margin: 20px auto;
          }
        }
      }
    }

    .content2{
      height: 550px;
      .visual{
        position: absolute;
        img {
          height: 550px;
          object-fit: cover;
        }
      }
      .visual__comment{
        position: relative;
        color: white;
        text-shadow: 1px 2px 3px #808080;
        top: 150px;
        left: 100px;
        #bottomViual{
          text-align: center;
          .visual__comment--subtitle{
            font-size: 30px;
          }
        }
        &--subtitle{
          font-size: 60px;
        }
        &--text{
          font-size: 20px;
          margin-bottom: 15px;

        }
        &--btn{
          margin-left: -10px;
          display: flex;
          align-items: center;
          a:hover{
          opacity: 70%;
          }
        }
      }
    }

    // ピックアップ＆ブランド
    .pickup{
      background-color: rgb(231, 231, 231);
      text-align: center;
      font-size: 25px;
      padding-bottom: 50px;
      &__category{
        padding-top: 100px;
        h2{
          padding-bottom: 20px;
        }
        .pickup-list {
          padding-top: 20px;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          a {
            display: inline-block;
            width: 220px;
            text-decoration: none;
            color: #000;
            @include fontSetting();
            background-color: #fff;
          }
          .product-img {
            width: 220px;
            height: 150px;
            object-fit: cover;
          }
          .product-content {
            padding: 16px;
            text-align: left;
            font-size: 16px;
            &__center {
              display: flex;
              justify-content: space-between;
            }
            &__footer {
              font-size: 10px;
            }
          }
        }
      }
      &__brand{
        padding-top: 100px;
        .pickup-list {
          padding-top: 20px;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          a {
            display: inline-block;
            width: 220px;
            text-decoration: none;
            color: #000;
            @include fontSetting();
            background-color: #fff;
          }
          .product-img {
            width: 220px;
            height: 150px;
            object-fit: cover;
          }
          .product-content {
            padding: 16px;
            text-align: left;
            font-size: 16px;
            &__center {
              display: flex;
              justify-content: space-between;
            }
            &__footer {
              font-size: 10px;
            }
          }
        }
      }
      h2{
        font-weight: bold;
        padding-bottom: 20px;
      }
      h3{
        color: #3CCACE;
      }
    }

  }

  .footer{
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 500px;
    color: white;
    .info{
      display: flex;
      justify-content: space-between;
      margin-left: 200px;
      margin-right: 200px;
      padding-top: 100px;
      &--title{
        font-size: 15px;
        margin-bottom: 30px;
        text-align: center;
      }
      &--content{
        font-size: 12px;
        text-align: center;
        li{
          margin-bottom: 20px;
        }
        a{
        text-decoration: none;
        color: white;
        &:hover{
          text-decoration: underline;
        }
        }
      }
    }
    .logo{
      margin-top: 50px;
      text-align: center;
    }
  }

  // 固定ボタン
  .btn{
    :hover{
      opacity: 90%;
    }
    .linkBtn{
      background-color: #3CCACE;
      height: 130px;
      width: 130px;
      text-align: center;
      position: fixed;
      right: 50px;
      bottom: 50px;
      text-decoration: none;
      color: white;
      font-weight: bolder;
      border-radius: 25px;

      p{
        padding-top: 25px;
      }
    }
  }
}

@mixin container() {
  width: 700px;
  margin: 0 auto 10px;
  padding: 40px 24px;
  background-color: #fff;
  }

@mixin blueBtn() {
  display: block;
  width: 392px;
  height: 52px;
  margin: 30px auto;
  background-color: #3ccace;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  color: #fff;
}

.sale-item-page{
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 60px;
  .category-nav {
    width: 100%;
    height: 54px;
    background-color: #fff;
    box-shadow: 0px 3px 3px 0 rgba(0,0,0,0.16);
    border-top: 1px solid #eee;
    margin-bottom: 40px;
    ul {
      margin: 0 auto;
      width: 80%;
      line-height: 54px;
      display: flex;
      li {
        margin-right: 10px;
        a{
          text-decoration: none;
          color: #000;
          font-size: 14px;
          @include fontSetting();
        }
        i {
          -webkit-text-stroke: 1px #fff;
        }
        .current-page {
          font-weight: bold;
        }
      }
    }
  }

  //商品情報ページ
  .sale-item__container {
    @include container();
    padding-bottom: 40px;
    .item-name {
      height: 28px;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      line-height: 28px;
      @include fontSetting()
    }
    .item-image-box {
      width: 620px;
      margin-top: 16px;
      &__main {
        width: 560px;
        height: 346px;
        margin: 0 auto;
        &--image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .item-image-thumbnail {
        width: 560px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px auto 0;
        &__part {
          width: 20%;
          height: 87px;
          margin: 0 5px;
          &--mini-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .item-price-box {
      height: 77px;
      margin: 24px 0;
      @include fontSetting();
      &__price {
        font-size: 46px;
        font-weight: bold;
        text-align: center;
        height: 53px;
      }
      &__detail {
        text-align: center;
      }
    }
    .shopping-btn {
      height: 60px;
      margin-bottom: 32px;
    }
    .item-content {
      margin-bottom: 30px;
      width: 620px;
      margin: 0 auto;
    }
    .item-buy-link {
      @include blueBtn();
      text-align: center;
      text-decoration: none;
      line-height: 52px;
    }
      table {
        width: 620px;
        font-size: 14px;
        th {
          padding: 8px;
          border: 1px solid #dedede;
          background-color: #eee;
          width: 25%;
          text-align: center;
          font-weight: normal;
        }
        td {
          padding: 15px;
          border:  1px solid #dedede;
        }
        td > a {
         text-decoration: none;
         color: #3ccace;
        }
      }
    
    .item-menu {
      width: 620px;
      height: 48px;
      margin: 30px auto 0;
      &__list {
        display: flex;
        justify-content: space-between;
        @include fontSetting();
        &--like-btn {
          border: 1px solid #ffb340;
          padding: 6px 10px;
          border-radius: 40px;
          color: #3ccace;
          font-weight: normal;
          cursor: pointer;
          &:hover {
            opacity: 0.6;
          }
        }
        &--report-btn {
          border: 1px solid;
          border-radius: 4px;
          line-height: 24px;
          cursor: pointer;
          &:hover {
            opacity: 0.6;
          }
          .report-link {
            text-decoration: none;
            color: #000;
            font-size: 14px;
            display: inline-block;
            padding: 6px 10px;
          }
        }
      }
    }
  }

  //出品者用メニューエリア
  .exhibitor-menu-container {
    @include container();
    &__edit {
      @include blueBtn();
      text-align: center;
      text-decoration: none;
      line-height: 52px; 
      margin-top: 0;
      margin-bottom: 10px;
    }
    & > p {
      text-align: center;
    }
    &__delete {
      @include blueBtn();
      text-align: center;
      text-decoration: none;
      line-height: 52px;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  
  //コメントエリア
  .comment-container {
    @include container();
    .comment-inputbox {
      display: block;
      height: 102px;
      width: 100%;
      padding: 10px;
      cursor: text;
      text-align: start;
    }
    .notice {
      font-size: 14px;
      background-color: #f8f8f8;
      margin: 10px 0;
      padding: 8px;
      @include fontSetting();
    }
    .comment-submit-btn {
      @include blueBtn();
      margin-bottom: 0;
    }
  }

  //ページ下部リンク
  .item-links {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &__btn {
      text-decoration: none;
      color: #3ccace;
      icon {
        -webkit-text-stroke: 1px #fff;
      }
    }
  }
  .more-items {
    width: 700px;
    margin: 24px auto 8px;
    &__link {
      text-decoration: none;
      color: #3ccace;
      font-size: 22px;
      font-weight: bold;
    }
  }
}

//商品のリスト部分
.product-list {
  @include container;
  padding: 0;
  background-color: #f8f8f8;
  a {
    display: inline-block;
    width: 30%;
    text-decoration: none;
    color: #000;
    @include fontSetting();
    margin: 24px 23px 8px 0;
    background-color: #fff;
  }
  .product-img {
    width: 210px;
    height: 150px;
    object-fit: cover;
  }
  .product-content {
    padding: 16px;
    &__center {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
    }
    &__footer {
      font-size: 10px;
    }
  }
}


// フッター上の画像部分
.content3{
  height: 360px;
  width: 100%;
  .visual{
    position: absolute;
    img {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
  }
  .visual__comment{
    width: 800px;
    text-align: center;
    position: relative;
    color: white;
    text-shadow: 1px 2px 3px #808080;
    top: 70px;
    margin: 0 auto;
    #bottomViual{
      .visual__comment--subtitle{
        font-size: 30px;
      }
    }
    &--subtitle{
      font-size: 60px;
    }
    &--text{
      font-size: 20px;
      margin-bottom: 15px;
    }
    &--btn{
      width: 400px;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      a:hover{
      opacity: 70%;
      }
    }
  }
}